<h1 style="text-align: center;">login page</h1>
<form action="">
<input type="text" name="name" id="name" placeholder="name"><br>
<input type="text" name="username" id="username" placeholder="username"><br>
<input type="submit" name="submit" id="submit">
</form>